<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>styleTitle</key>
	<string>0xD4AF83</string>
	<key>navigationTitle</key>
	<string>0x333333</string>
	<key>alertTip</key>
	<string>0x3ac1bc</string>
	<key>managerSelectTitle</key>
	<string>0x333333</string>
	<key>managerDefaultTitle</key>
	<string>0x999999</string>
</dict>
</plist>
